<div class="container mt-4">
  <!-- Buttons: Back and Next -->
  <div class="text-center mb-3">
    <button class="btn btn-secondary" (click)="backResidence()">Back</button>
    <button class="btn btn-primary ms-2" (click)="nextResidence()">Next</button>
    <button
      type="button"
      class="btn btn-primary btn-sm ms-2"
      [routerLink]="['/addResidence', -1]"
    >
      Add Residence
    </button>
  </div>

  <!-- Residence Details Card -->
  <div class="card mx-auto" style="max-width: 500px;" *ngIf="residenceDetails">
    <div class="card-header text-center mb-2" >
      <strong>{{ residenceDetails.name }}</strong>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        <i class="fa-solid fa-id-card me-2"></i>ID: {{ residenceDetails.id }}
      </h5>
      <p class="card-text">
        <i class="fa-solid fa-location-dot me-2"></i>Address: {{ residenceDetails.address }}
      </p>
      <p class="card-text">
        <span *ngIf="residenceDetails.status === 'Disponible'" class="badge bg-success">
          <i class="fas fa-check-circle me-1"></i>{{ residenceDetails.status }}
        </span>
        <span *ngIf="residenceDetails.status === 'Vendu'" class="badge bg-danger">
          <i class="fas fa-times-circle me-1"></i>{{ residenceDetails.status }}
        </span>
        <span *ngIf="residenceDetails.status === 'En Construction'" class="badge bg-warning text-dark">
          <i class="fas fa-tools me-1"></i>{{ residenceDetails.status }}
        </span>
      </p>
    </div>
    <div class="card-footer d-flex justify-content-between">
<!--      <button class="btn btn-outline-danger btn-sm" (click)="toggleFavorite(residenceDetails)">-->
<!--        <i class="fa-solid" [ngClass]="isFavorite(residenceDetails) ? 'fa-heart' : 'fa-heart-broken'"></i>-->
<!--        {{ isFavorite(residenceDetails) ? 'Unfavorite' : 'Favorite' }}-->
<!--      </button>-->
      <button
        type="button"
        class="btn btn-primary btn-sm"
        [routerLink]="['/addResidence', residenceDetails.id]"
      >
        Update Residence
      </button>
    </div>
  </div>
</div>
